.example-form {
  font-family: Arial, sans-serif;
  font-size: 8.25px;
}

.listBox, .timer, .command-button, .text-box {
  margin: 5px;
}

.frame {
  border: 1px solid #ccc;
  padding: 10px;
}

.label {
  text-align: center;
}

.label.caption {
  font-weight: 400;
}

